<!doctype html>
<html>
    <head>
        <title>WasteTrack+</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='styles/logo.ico') }}">
    </head>
    <body>
        <h1>WasteTrack+</h1>
        <!-- <p>Statistik jumlah sampah:</p> -->
        <div id="chart" class="chart"></div>
        <p>Hasil prediksi jumlah sampah:</p>
        <ul>
            <li><a href="prediksi">Prediksi jumlah sampah di TPA Jatibarang</a></li>
            <li><a href="suhu">Prediksi jumlah sampah di TPA Jatibarang berdasarkan suhu</a>
        </li>
    </body>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs = {{graphJSON | safe}};
        Plotly.plot('chart', graphs, {});
    </script>
</html>
