<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='styles/logo.ico') }}">
    </head>
    <body>
        <h1>{{header}}</h1>
        <p><a href="/">● Return to index page</a></p>
        <div id="chart" class="chart"></div>
        <div><p>{{description}}</p></div>
        <div class="table-container">
            <h2>Data Table</h2>
            {{ table|safe }}
        </div>
    </body>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs = {{graphJSON | safe}};
        Plotly.plot('chart', graphs, {});
    </script>
</html>